{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body">

          <!-- Cuadro de Imagen -->
          <div class="text-center mb-4">
            <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-fluid" alt="Imagen">
          </div>

          <!-- Formulario -->
          <form id="form" method="POST" class="text-center">

            {% csrf_token %}

            <div class="form-group">
              {{ form.categoria.label_tag }} {{ form.categoria }}
            </div>
            <br>
            <div class="form-group">
              {{ form.producto.label_tag }} {{ form.producto }}
            </div>
            <br>
            <div class="form-group">
              {{ form.cantidad.label_tag }} {{ form.cantidad }}
            </div>
            <br>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </div>

          </form>

          <!-- Tabla de Productos -->
          {% if productos %}
          <div class="mt-5">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos %}
                <tr>
                  <td>
                    <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
                  </td>
                  <td>
                    {% if producto.estado == 'En bodega' %}
                    <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}"
                      class="btn btn-danger btn-sm">Eliminar</a>
                    {% else %}
                    <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}"
                      class="btn btn-primary btn-sm disabled">Eliminar</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
<script src="{% static 'core/js/bodega.js' %}"></script>
{% endblock script %}
