{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <!-- 
        AREA DE DATOS BASICOS: combobox de categoría, combobox de producto y cantidad.
        El Combobox de Producto se carga dependiendo del valor el Combobox de Categoría,
        para ello se usa jquery y ajax.
        (VER COMENTARIO "COMBOBOX DEPENDIENTES PARA CATEGORIA Y PRODUCTO" en bodega.js)
    -->

    <div class="instrucciones-para-el-alumno">
        INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
        - Pega tu código html de la página bodega <br>
    </div>

    <form id="form" method="POST">

        {% csrf_token %}

        {{ form|as_bootstrap_form }}

        <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
        
    </form>

    <!-- AREA DE TABLA DE PRODUCTOS -->

    {% if productos %}

        <div class="instrucciones-para-el-alumno">
            INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
            - Pega tu código html de la tabla de productos en bodega<br>
            -Puedes usar las dos columnas de abajo para ver la foto y 
             eliminar productos en bodega
        </div>
        
        <table id="tabla-principal" class="table table-hover">
            <thead>
                <!-- AREA DE TITULOS DE LA TABLA -->
                <tr>
                    <th> Imagen </th>
                    <th> Acción </th>
                </tr>
            </thead>
            <tbody>
                <!-- AREA DE FILAS DE PRODUCTOS -->
                {% for producto in productos %}
                    <tr>
                        <td>
                            <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
                        </td>
                        <!-- Botón de eliminar producto de bodega, se activa sólo para productos no vendidos -->
                        <td>
                            {% if producto.estado == 'En bodega' %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" 
                                    class="btn btn-danger btn-sm"> Eliminar </a>
                            {% else %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" 
                                    class="btn btn-primary btn-sm disabled"> Eliminar </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock content %}

{% block script %}
    <input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
    <script src="{% static 'core/js/bodega.js' %}"></script>
{% endblock script %}