{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table id="tabla-principal" class="table table-hover">
                        <h2 class= "text-center"> Mis Compras </h2>
                        <br>
                        <thead>
                            <tr>
                                <th> Nro boleta </th>
                                <th> Venta </th>
                                <th> Despacho </th>
                                <th> Entrega </th>
                                <th> Monto total </th>
                                <th> Estado actual </th>
                                <th> Opciones </th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for boleta in historial %}
                                {% if boleta.estado == 'Anulado' %}
                                    <tr class="letra-boleta-anulada"> 
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td> {{ boleta.nro_boleta }} </td>
                                    <td> {{ boleta.fecha_venta|formatear_fecha }} </td>
                                    <td> {{ boleta.fecha_despacho|formatear_fecha }} </td>
                                    <td> {{ boleta.fecha_entrega|formatear_fecha }} </td>
                                    <td> {{ boleta.total_a_pagar }} </td>
                                    <td> {{ boleta.estado }} </td>
                                    <td>
                                        <a href="{% url 'boleta' boleta.nro_boleta %}" class="btn btn-sm btn-primary">Detalle</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/css/miscompras.css' %}"></script>
<link rel="stylesheet" href="{% static 'core/css/miscompras.css' %}">
{% endblock script %}