{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
          <div class="text-center mb-4">
            <h2>Mantenedor de Producto</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form id="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.categoria|as_bootstrap_field }}
                </div>
                <div class="form-group">
                  {{ form.nombre|as_bootstrap_field }}
                </div>
                <div class="form-group">
                  {{ form.descripcion|as_bootstrap_field }}
                </div>
                <div class="form-group">
                  {{ form.precio|as_bootstrap_field }}
                </div>
                <div class="form-group">
                  {{ form.descuento_subscriptor|as_bootstrap_field }}
                </div>
                <div class="form-group">
                  {{ form.descuento_oferta|as_bootstrap_field }}
                </div>
                <input type="file" id="id_imagen" name="imagen" style="display: none;">
                <div class="form-group text-center">
                  <input class="btn btn-primary" type="submit" value="Guardar">
                  <a class="btn btn-primary" href="{% url 'productos' 'crear' '0' %}"> Nuevo </a>
                  <button class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
                  {% if form.instance.id %}
                    <a class="btn btn-primary"  href="{% url 'productos' 'eliminar' form.instance.id %}"> Eliminar </a>
                  {% endif %}
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="mb-3 text-center">
                <h4>Imagen del Producto</h4>
                {% if form_perfil.imagen.value %}
                  <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-thumbnail me-3"
                    style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
                {% else %}
                  <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail me-3"
                    style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
          <table id="tabla-principal" class="table table-hover">
            <thead>
              <tr>
                <th> ID </th>
                <th> Categoría </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> Precio </th>
                <th> %Subs </th>
                <th> %Oferta </th>
                <th> Imagen </th>
                <th> Editar </th>
                <th> Eliminar </th>
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}
                <tr>
                  <td>{{ producto.id }}</td>
                  <td>{{ producto.categoria }}</td>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.descripcion }}</td>
                  <td>{{ producto.precio|formatear_dinero }}</td>
                  <td>{{ producto.descuento_subscriptor|formatear_porcentaje }}</td>
                  <td>{{ producto.descuento_oferta|formatear_porcentaje }}</td>
                  <td>
                    <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
                  </td>
                  <td>
                    <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm"> Editar </a>
                  </td>
                  <td>
                    <form method="post" action="{% url 'productos' 'eliminar' producto.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm"> Eliminar </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#tabla-principal').DataTable();
});

// Previsualizar imagen seleccionada
document.getElementById('id_imagen').onchange = function (evt) {
  const [file] = this.files;
  if (file) {
    const reader = new FileReader();
    reader.onload = function(event) {
      document.getElementById('cuadro-imagen').src = event.target.result;
    };
    reader.readAsDataURL(file);
  }
};
</script>
<link rel="stylesheet" href="{% static 'core/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'core/css/productos.css' %}">
{% endblock script %}
