/* CSS personalizado para el formulario y la tabla */

body {
  background-image: url('/static/core/img/nsfwunboud.jpg');
}

.form-container {
  padding: 20px;
}

.card {
  background-color: rgba(200, 200, 200, 0.8); /* Color gris semi-transparente */
  border: 2px solid #ccc; /* Borde sólido */
  border-radius: 30px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  background-color: rgba(200, 200, 200, 0.8); /* Color gris semi-transparente */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.card-body {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px; /* Borde redondeado para el contenido */
  padding: 20px; /* Espaciado interno */
}


.form-group {
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

#cuadro-imagen {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

#tabla-principal {
  margin-top: 30px;
  width: 100%; /* Ajusta el ancho de la tabla al 100% */
}

#tabla-principal th, #tabla-principal td {
  text-align: center; /* Centra el contenido de las celdas */
  vertical-align: middle; /* Alineación vertical central */
}

@media (min-width: 768px) {
  .col-md-8 {
    max-width: 100%; /* Ajusta el ancho máximo de las columnas según sea necesario */
  }
  .col-md-10 {
    max-width: 100%; /* Ajusta el ancho máximo de las columnas según sea necesario */
  }
}
