/* CSS personalizado para el formulario y la tabla */
.form-container {
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

#cuadro-imagen {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

#tabla-principal {
  margin-top: 30px;
  width: 100%; /* Ajusta el ancho de la tabla al 100% */
}

#tabla-principal th, #tabla-principal td {
  text-align: center; /* Centra el contenido de las celdas */
  vertical-align: middle; /* Alineación vertical central */
}

@media (min-width: 768px) {
  .col-md-8 {
    max-width: 100%; /* Ajusta el ancho máximo de las columnas según sea necesario */
  }
  .col-md-10 {
    max-width: 100%; /* Ajusta el ancho máximo de las columnas según sea necesario */
  }
}
