.usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

body {
  background: url('/static/core/img/user.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.form-list {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

ul.form-list li {
  margin-bottom: 10px;
}

.form-row {
  display: inline-block;
  margin-right: 10px;
}

.form-list {
  list-style-type: none;
  padding: 0;
}

.form-row {
  margin-bottom: 15px;
}

.form-row::after {
  content: "";
  display: table;
  clear: both;
}

.error-message {
  color: red;
  font-size: 14px;
}
